<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>English to Anglish</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/desktop.css">
  	<script type="text/javascript" src="domscript.js"></script>

</head>
<body>
	<br/>
	<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		Anglish Translator
	</nav>
	</div>
	<br/>
	{{{body}}}

</body>
</html>
